:root {
  font-family: Helvetica, Arial, sans-serif;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
